.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.button {
  display: block;
  background-color: #bbb;
  width: 100%;
}

button {
  width: 25%;
  height: 100px;
  font-size: 20px;
  border: 2px solid white;
}
.result {
  height: 100px;
  background-color: #bbb;
  width: 100%;
}
h1{
  text-align: center;
}